.app {
  max-width: 600px;
  margin: 30px auto;
  text-align: center;
}

.task-input {
  margin-bottom: 20px;
}

.task-input input {
  height: 20px;
  line-height: 20px;
  padding: 5px;
  margin-right: 5px;
  width: 200px;
}

.task-input button {
  height: 34px;
  background-color: #22ee22;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
}

.task-input button:hover {
  background-color: #22cc22;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-list li {
  background-color: #f4f4f4;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.task-list li button {
  float: right;
  margin-left: 10px;
  background-color: #ff4444;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.task-list li button:hover {
  background-color: #ee2222;
}


